<html>

<head> 
<title>Itinerary</title>
    <!-- Optional theme -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="script.js"></script>
  </head>

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="homepage.css">

<!-- HTML -->
<body ng-app = "493FinalProj">
  <div class='outer-container' ng-controller="searchPage">
    <div class='game-window'>

      <div class ='main'>
        <h1>Explore Destinations</h1>
        <br>

          <form style="text-align: center;">
            <input type="text" ng-model="city" placeholder="Where to?" name="cities"><br>
            <input type="submit" ng-click='add(city)' value="Submit">
          </form>
          
        <!-- <p>Space/Right Click: Shoot</p>
        <p>Mouse: Move the target/aim</p>-->
        <br><br>
        <!-- <button type="button" id="button_start">Start Alien Invasion</button> -->
      </div>


      

      <div class="bottom"></div>
    </div>


    <div class='status-window' style='text-align: center'>
      <br><br><br>
      <img class = "avatar-circle" src = "images/azba.png">
      <br><br><br>
      <a href = "/">BROWSE</a><br>
      <a href = "/">MY TRIPS</a><br>
      <a href = "/">ADD NEW TRIP</a>

    </div>
  </div>
</body>

</html>
